@value tokens: "../../styles/tokens.module.css";
@value background, colorText, fontSizeSmall from tokens;

.hidden {
  display:none;
}

.input {
  margin-top: 1rem;
  height: 4rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid colorText;
  background: rgba(0,0,0,0) ;
  color: colorText;
  font-family: futura, sans-serif;
  font-size: fontSizeSmall;
}

.input::placeholder {
  color: colorText;
  opacity: .5;
}

.input:focus {
  outline: 1px solid colorText;
}