.main {
    margin: 0 2rem;
}

.header {
    display: grid;
    grid-template-columns: 2rem auto 2rem;
    height: 5rem;
}

.main__footer {
    height: calc(100vh - 50px - 45px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.main__nofooter {
    height: calc(100vh - 50px);
}