@value tokens: "./tokens.module.css";
@value background, colorSecondary, colorTitle, colorText, fontSizeSmall, fontSizeMedium, fontSizeLarge, fontSizeXLarge from tokens;

.title {
  font-size: fontSizeXLarge;
  font-weight: bold;
  color: colorTitle;
  margin-top: 1rem;
}

.subtitle {
  font-size: fontSizeMedium;
  margin-top: 1rem;
}

.largeText {
  font-size: fontSizeMedium;
  font-weight: bold;
}

.header__title {
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-family: futura, sans-serif;
  font-size: fontSizeSmall;
  font-weight: bold;
  margin-top: spacer2;
  border: none;
  color: background;
  display: flex;
  align-items: center;
  justify-content: center;
  background: colorSecondary;
}