@value tokens: "../../styles/tokens.module.css";
@value background, backgroundGradient, colorTitle, colorText, colorSecondary, colorTertiary, fontSizeSmall, fontSizeMedium, fontSizeLarge, fontSizeXLarge, spacer2 from tokens;

.main  {
    composes: main from "../../styles/layout.module.css";
}

.main__nofooter {
    composes: main__nofooter from "../../styles/layout.module.css";
}

.header {
    height: 5rem;
    width: calc(100%-4rem);
    padding: 0 spacer2;
    display: grid;
    grid-template-columns: 2rem auto 2rem;
}

.header__title {
    composes: header__title from "../../styles/typo.module.css"
}

.cancel {
    display: flex;
    align-items: center;
    width: 2rem;
}

.button {
    composes: button from "../../styles/typo.module.css";
}

.title {
    composes: subtitle from "../../styles/typo.module.css";
    text-align: center;
}

.searching__wrapper {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    flex-flow: column;
}