@value tokens: "../../styles/tokens.module.css";
@value background, colorSecondary, colorAlert, fontSizeXSmall, fontSizeSmall, spacer2, colorTertiary from tokens;

body {
  background-image: url("background_image.svg");
}

.button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-family: futura, sans-serif;
  font-size: fontSizeSmall;
  font-weight: bold;
  margin-top: spacer2;
  border: none;
  color: background;
  display: flex;
  align-items: center;
  justify-content: center;
  background: colorSecondary;
}

.button__secondary{
  background: colorTertiary;
}

.header {
  composes: header from "../../styles/layout.module.css"
}

.main {
  composes: main from "../../styles/layout.module.css";
}

.title {
  composes: title from "../../styles/typo.module.css";
}

.subtitle {
  composes: subtitle from "../../styles/typo.module.css";
}

.hidden {
  display:none;
}

.return {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  width: 2rem;
}

.header__title {
  composes: header__title from "../../styles/typo.module.css"
}

.signup {
  padding: 1rem 10rem;
}

.smallText {
  margin-top: 1rem;
  font-size: fontSizeXSmall;
  line-height: 140%;
}

.terms_of_use {
  font-weight: bold;
  text-decoration: underline;
}

.error {
  margin: 2rem 0 0;
  color:colorAlert;
}

.previous {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.couple {
  grid-gap: 1rem;
  width: calc(100% + 4rem);
  margin-left: -2rem;
  padding-right: 2rem;
  background: background;
}

input[type="file"] {
  display: none;
}

