@import "./styles/reset.css";

@font-face {
  font-family: futura;
  src: url(https://use.typekit.net/tqy2ebg.css);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.invisible__button {
  border: none;
  background: none;
  width: 100%;
  font: inherit;
  text-align: inherit;
  color: inherit;
  padding: 0;
  cursor: pointer;
  outline: none;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: futura, sans-serif;
  background: #24305E;
  color: #F2F2F2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

a {
  text-decoration: none;
  color: currentColor;
}
